* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('./images/header.jpg');
  background-position: center;
  background-size: cover;
}

.header > * {
  color: white;
}

.header > .title {
  font-size: 4rem;
}

.header > .sub-title {
  font-size: 1.5rem;
}

.input-box {
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -48px;
  margin-left: auto;
  margin-right: auto;
}

.input-field {
  width: 85%;
  max-width: 800px;
  height: 10vw;
  max-height: 100px;
  border: 3px pink solid;
  border-radius: 4px;
  margin-right: 24px;
  padding: 12px 24px;
  resize: none;
  box-shadow: 2px 0px 5px 2px #999;
  outline: none;
}

.input-field:focus {
  box-shadow: 2px 0px 5px 2px rgb(220, 178, 218);
}

.submit-btn {
  width: 10%;
  max-width: 800px;
  height: 5vw;
  max-height: 80px;
  border-radius: 4px;
  border: 3px pink solid;
  background-color: rgb(255, 229, 233);
  font-size: 1.3rem;
  font-weight: bold;
  transition: all ease-in-out 0.3s 0s;
  box-shadow: 2px 0px 5px 2px #999;
}

.submit-btn:hover {
  border: 3px rgb(255, 229, 233) solid;
  background-color: pink;
  color: white;
  transition: all ease-in-out 0.3s 0s;
  box-shadow: 2px 0px 5px 2px rgb(220, 178, 218);
  cursor: pointer;
}

.post {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid pink;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: rgb(255, 244, 246);
  box-shadow: 1px 0px 10px 1px rgb(237, 211, 236);
  margin-bottom: 32px;
}

.content {
  font-size: 1.2rem;
  color: black;
}

.date-time {
  font-size: 0.7rem;
  color: gray;
  text-align: right;
  margin-top: 12px;
}

@media screen and (max-width: 768px) {
  .input-box {
    flex-direction: column;
  }

  .input-field {
    margin-right: 0px;
    height: 120px;
    max-height: fit-content;
  }

  .submit-btn {
    margin-top: 12px;
    width: 85%;
    font-size: 1.2rem;
    height: 32px;
  }
}
